#INDIA{
    font-weight: 700;
    
}
@media(max-width:300px){
    .fs-md-1{
        font-size: calc(1.075rem + .3vw)!important;
    }
   
} 


@media(min-width:900px){
.nav-link:hover{
    color: #dc3545 !important;
    background-color: rgb(220, 218, 215);
    border-radius: 13px;
   
}


}
i{
    text-decoration: none;
    color:black;
    transition: 0.25s all ease-out;
}
i:hover{
   transform: translateY(-0.5rem);
}
.nav-link{
    font-size: 1.1rem;
}
@media (max-width:991px){
    #navi{
          text-align: center;
    }
}
#util i{
    color: #dc3545;
}
#item:hover{
    cursor: pointer;
   background-color: rgb(220, 218, 215);
}
#form-head{
    margin-top: -40px;
}
.fadeInLeft{
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation:fadeInLeft 1.2s both;
}
@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
       -webkit-transform:translateX(-60px) ;
    }
    100%{
        opacity: 1;
        -webkit-transform:translateX(0px) ;
    }

}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
       -moz-transform:translateX(-60px) ;
    }
    100%{
        opacity: 1;
        -moz-transform:translateX(0px) ;
    }

}
@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
       -o-transform:translateX(-60px) ;
    }
    100%{
        opacity: 1;
        -o-transform:translateX(0px) ;
    }

}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
    transform:translateX(-60px) ;
    }
    100%{
        opacity: 1;
        transform:translateX(0px) ;
    }
}
.fadeInTop{
    -webkit-animation: fadeInTop 1.2s both;
    -moz-animation: fadeInTop 1.2s both;
    -o-animation: fadeInTop 1.2s both;
    animation:fadeInTop 1.2s both;

}
@keyframes fadeInTop{
    0%{
        opacity: 0;
    transform:translateY(-60px) ;
    }
    100%{
        opacity: 1;
        transform:translateY(0px) ;
    }
}
@-webkit-keyframes fadeInTop {
    0%{
        opacity: 0;
       -webkit-transform:translateY(-60px) ;
    }
    100%{
        opacity: 1;
        -webkit-transform:translateY(0px) ;
    }

}
@-moz-keyframes fadeInTop {
    0%{
        opacity: 0;
       -moz-transform:translateY(-60px) ;
    }
    100%{
        opacity: 1;
        -moz-transform:translateY(0px) ;
    }

}
@-o-keyframes fadeInTop {
    0%{
        opacity: 0;
       -o-transform:translateY(-60px) ;
    }
    100%{
        opacity: 1;
        -o-transform:translateY(0px) ;
    }

}
@media(max-width:770px){
    .fadeInTop{
        -webkit-animation: fadeInTop 1.2s both;
        -moz-animation: fadeInTop 1.2s both;
        -o-animation: fadeInTop 1.2s both;
        animation:fadeInTop 1.2s both;
    }
    @-webkit-keyframes fadeInTop {
        0%{
            opacity: 0;
           -webkit-transform:translateX(60px) ;
        }
        100%{
            opacity: 1;
            -webkit-transform:translateX(0px) ;
        }
    
    }
    @-moz-keyframes fadeInTop {
        0%{
            opacity: 0;
           -moz-transform:translateX(60px) ;
        }
        100%{
            opacity: 1;
            -moz-transform:translateX(0px) ;
        }
    
    }
    @-o-keyframes fadeInTop {
        0%{
            opacity: 0;
           -o-transform:translateX(60px) ;
        }
        100%{
            opacity: 1;
            -o-transform:translateX(0px) ;
        }
    
    }
    @keyframes fadeInTop{
        0%{
            opacity: 0;
        transform:translateX(60px) ;
        }
        100%{
            opacity: 1;
            transform:translateX(0px) ;
        }
    }

}
.fadeInRight{
    -webkit-animation:fadeInRight 1.2s both;
    -moz-animation: fadeInRight 1.2s both;
    -o-animation: fadeInRight 1.2s both;
    animation:fadeInRight 1.2s both;
}
@-webkit-keyframes fadeInRight {
    0%{
        opacity: 0;
       -webkit-transform:translateX(60px) ;
    }
    100%{
        opacity: 1;
        -webkit-transform:translateX(0px) ;
    }

}
@-moz-keyframes fadeInRight {
    0%{
        opacity: 0;
       -moz-transform:translateX(60px) ;
    }
    100%{
        opacity: 1;
        -moz-transform:translateX(0px) ;
    }

}
@-o-keyframes fadeInRight {
    0%{
        opacity: 0;
       -o-transform:translateX(60px) ;
    }
    100%{
        opacity: 1;
        -o-transform:translateX(0px) ;
    }

}
@keyframes fadeInRight{
    0%{
        opacity: 0;
    transform:translateX(60px) ;
    }
    100%{
        opacity: 1;
        transform:translateX(0px) ;
    }
}
@media(max-width:770px){
    .fadeInRight{
        -webkit-animation: fadeInRight 1.2s both;
        -moz-animation: fadeInRight 1.2s both;
        -o-animation: fadeInRight 1.2s both;
        animation:fadeInRight 1.2s both;
    }
    @-webkit-keyframes fadeInRight {
        0%{
            opacity: 0;
           -webkit-transform:translateX(-60px) ;
        }
        100%{
            opacity: 1;
            -webkit-transform:translateX(0px) ;
        }
    
    }
    @-moz-keyframes fadeInRight {
        0%{
            opacity: 0;
           -moz-transform:translateX(-60px) ;
        }
        100%{
            opacity: 1;
            -moz-transform:translateX(0px) ;
        }
    
    }
    @-o-keyframes fadeInRight {
        0%{
            opacity: 0;
           -o-transform:translateX(-60px) ;
        }
        100%{
            opacity: 1;
            -o-transform:translateX(0px) ;
        }
    
    }
    @keyframes fadeInRight{
        0%{
            opacity: 0;
        transform:translateX(-60px) ;
        }
        100%{
            opacity: 1;
            transform:translateX(0px) ;
        }
    }

}